body {
    margin:0;
    padding: 0 1em;
    text-align: center;
}

.center-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.footer-container {
    width: 100%;
    max-width: 324px;
    margin: 0 auto;
}

a, img {
    display: inline-block;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
.row > * {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
